header.app-header.navbar
  a.navbar-brand(href="#")
    img.navbar-brand-full(src="/img/brand/logo.svg" width="89" height="25" alt="CoreUI Logo")
    img.navbar-brand-minimized(src="/img/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo")
  if !starter
    ul.nav.navbar-nav.d-md-down-none
      li.nav-item.px-3
        a.nav-link(href="login") Logout
