.sidebar
  nav.sidebar-nav
    ul.nav
      li.nav-item
        a.nav-link(href=ajax ? 'main.html' : 'index.html')
          i.nav-icon.icon-speedometer
          |  Dashboard
          span.badge.badge-primary NEW
      if !starter
        li.nav-title
          | SensorManager
        li.nav-item
          a.nav-link(href="colors.html")
            i.nav-icon.icon-drop
            |  Temperature

