.sidebar
  nav.sidebar-nav
    ul.nav
      li.nav-item
        a.nav-link(href=ajax ? 'main' : 'index')
          i.nav-icon.icon-speedometer
          |  Dashboard
          span.badge.badge-primary NEW
      if !starter
        li.nav-title
          | SensorManager
        li.nav-item
          a.nav-link(href="index?channel=#/colors")
            i.nav-icon.icon-drop
            |  Graph

